@import 'compass/css3';

body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.visible-desktop li.blog-entry {
  padding-left: 0;
  padding-right: 0;
}

ul.blog-entries {
  list-style: none;
  margin: 0;

  li.blog-entry {
    margin: 0;
    padding: 3em 1em;
    @include background-image(linear-gradient(lighten(red, 40%), lighten(red,
    30%)));

    &:nth-child(3n+2) {
      @include background-image(linear-gradient(lighten(blue, 40%), lighten(blue,
      30%)));
    }

    &:nth-child(3n+3) {
      @include background-image(linear-gradient(lighten(green, 70%),
      lighten(green, 60%)));
    }
  }
}
