@import 'compass/css3';

.clearfix {
  display: block;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}


body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #333;
}

.visible-desktop li.blog-entry {
  padding-left: 0;
  padding-right: 0;
}

ul.blog-entries {
  list-style: none;
  margin: 0;

  li.blog-entry-in-list {
    width: 100%;

    @include background-image(linear-gradient(lighten(red, 35%), lighten(red,
    30%)));

    &:nth-child(3n+2) {
      @include background-image(linear-gradient(lighten(blue, 35%), lighten(blue,
      30%)));
    }

    &:nth-child(3n+3) {
      @include background-image(linear-gradient(lighten(green, 65%),
      lighten(green, 60%)));
    }
  }
}


.blog-entry {
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
  padding: 3% 2%;

  .entry {
    @include box-sizing(border-box);
    padding: 0 1.5em;
    float: left;
    width: 80%;
    max-width: 600px;

    .title {
    }
  }

  .published-at-oneline {
    display: block;
  }

  .published-at {
    display: none;
  }

  @media only screen and (min-width: 600px) {
    .published-at-oneline {
      display: none;
    }

    .published-at {
      display: block;
      float: left;
      width: 100px;
      opacity: 0.6;
      text-align: center;

      .day {
        font-size: 80px;
        line-height: 80px;
        font-weight: bold;
        letter-spacing: -2px;
      }

      .month {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 6px;
      }

      .year {
        font-size: 28px;
        line-height: 28px;
        font-weight: bold;
        opacity: 0.5;
      }
    }
  }
}
