@import 'http://fonts.googleapis.com/css?family=Bowlby+One';
.top {
  border-bottom: 1px solid #ccc;

  .inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    .left {
      float: left;
      margin: 15px 0;
      width: 120px;

      .logo {
        display: block;
        margin: 0 auto;
        width: 0;
        border: 37px solid red;
        border-color: red blue green yellow;
      }
    }

    .middle {
      float: left;

      h1 {
        font-size: 47px;
        line-height: 47px;
        text-transform: uppercase;
        margin: 19px 0 3px;
        font-family: Bowlby One;

        a {
          text-decoration: none;
        }
      }

      .tagline {
        font-size: 20px;
        color: #888;
      }
    }
  }
}
