@import 'http://fonts.googleapis.com/css?family=Bowlby+One';
@import 'compass/css3';

.top {
  border-bottom: 1px solid #ccc;
  background-color: #fff;

  .inner {
    @include box-sizing(border-box);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    @media only screen and (max-width: 670px) {
      padding: 0 1.5em;
    }

    h1 {
      text-align: center;
      font-size: 64px;
      line-height: 64px;
      text-transform: uppercase;
      padding: 20px 0 5px;
      margin: 0;
      font-family: Bowlby One;

      a {
        text-decoration: none;
      }
    }

    .tagline {
      color: #888;
      text-align: center;
      position: relative;

      .line {
        display: block;
        position: absolute;
        border-top: 1px dotted #ccc;
        top: 11px;
        left: 10%;
        width: 80%;
      }

      p {
        background-color: #fff;
        display: inline-block;
        padding: 0 5px;
        position: relative;
      }
    }


    @media only screen and (max-width: 700px) {
      h1 {
        font-size: 50px;
        line-height: 50px;
        padding-top: 17px;
      }
    }

    @media only screen and (max-width: 590px) {
      h1 {
        font-size: 40px;
        line-height: 40px;
        padding-top: 12px;
      }

      .tagline {
        font-size: 12px;
      }
    }

    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 35px;
        line-height: 35px;
        padding-top: 10px;
      }

      .tagline {
        font-size: 14px;
      }
    }

    @media only screen and (max-width: 320px) {
      h1 {
        font-size: 24px;
        line-height: 24px;
        padding-top: 7px;
      }

      .tagline {
        font-size: 14px;
      }
    }
  }
}
